@model List<DapperNight.Dtos.ProductDtos.ResultProductWithCategoryDto>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProductListWithCategory</title>
</head>
<body>
</body>
</html>
